body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
P {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  line-height: 1.6;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
}